# Dependencies
node_modules/
*/node_modules/

# Environment Variables
.env
*/.env
*.env

# Production Build Output
dist/
*/dist/
build/
*/build/

# Editor & OS files
.vscode/
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads (user content)
back/uploads/
